/* DEFAULTS */
body, html {
  margin: 0;
  padding: 0;
  text-align: center;
}

.formswift-button {
  display: none;
}

/* NAV SECTION */
.nav {
  width: 100%;
  background-color: rgb(145, 145, 145);
}

.navLinks {
  
}

